header {
  background-color: #804000;
  font-family: 'Merriweather', serif;      
  padding: 20px;
  margin: 0px;
  display: flex;
  text-shadow: 2px 2px 8px #f2f2f2;
}

.logo {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 120px;
}

header h1 {
  color: black;
  text-align: left;
  max-width: 30%;
  height: auto;
}

.navbox ul {
  list-style-type: none;
  background-color: #f5f5dc;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

nav a {
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px 100px;
  display: block;
}

nav li {
  float: left;
}

nav a:hover {
  cursor:pointer;
  font-size: 22px;
}

.ddown {
  overflow: hidden;
}


.dcontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.ddown:hover .dcontent {
  display: block;
}

.dcontent a {
  float: none;
  background-color: #f9f9f9;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dcontent a:hover {
  background-color: #e6e6e6;
}


.drop {
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: black;
  font-size: 22px;
  padding: 5px 100px;
  display: block;
  cursor: pointer;
}

.drop:hover {
  font-size: 22px;
}

.don {
  padding: 5px 200px;
}

button {
  font-size: 16px;
  padding: 5px 15px;
  background-color: #994d00;
  border: none;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
  font-size: 18px;
}
  
body {
  margin: 0;
  padding: 0;
}

.imgbox {
  background-image: url("../img/servp.png");
  background-color: #ffffcc;
  display: flex;
  justify-content: center;
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
  gap: 100px;
}

.imgbox div {
  min-height: 300px
}
  
.mainp {
  background: rgba( 107, 66, 38, 0.75);
  max-height: 80px;
  border-radius: 25px;
  border-style: double;
  text-align: center;
  font-size: 22px;
  font-family: Georgia, serif;
  color: #f5f5dc;
  max-width: 30%;
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}

h4, h5, h6 {
  font-size: 22px;
  font-family: Georgia, serif;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.mainp ul {
  text-align: left;
  list-style-image: url('../img/bpoint.png');
}

.mainp ul a {
  color: #f5f5dc;
  text-decoration: underline;
}

footer {
  background-color: #804000;
  color: black;
  text-shadow: 2px 2px 12px #cccccc;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: black;
  text-decoration: underline;
}

@media (max-width: 768px) {
  header h1 {
   font-size: 1.5rem;
   max-width: 100%;
  }

  .mainp {
   font-size: 18px;
  }
}

@media (max-width: 480px) {
  header h1 {
   font-size: 1.2rem;
  }
  .navbox {
   position: static;
   flex-direction: column;
   margin-top: 10px;
  }
  .mainp {
   font-size: 16px;
   padding: 15px;
  }
  nav a {
   margin: 5px;
   padding: 8px 16px;
   font-size: 14px;
 }
}